---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				color: #595959;
			}
			ul li a:visited {
				/* color: #8e32dc; */
			}
		</style>
	</head>
	<body class="flex flex-col content-center flex-wrap max-w-7xl m-auto">
		<div class="max-w-lg">
			<Header />
			<hr style="border-style: solid; border-top-width: 1px;">
			<h2 class="text-2xl my-10 text-gray-500">Recent posts</h2>
			<section class="">
				<ul>
					{
						posts.map((post) => (
							<li class="my-5">
								<FormattedDate date={post.data.pubDate} />
								<a href={`/${post.slug}/`}>{post.data.title} <span class="text-xs">&#8594;</span></a>
							</li>
						))
					}
				</ul>
			</section>
		</div>
		<div class="flex md:flex-row flex-wrap w-full max-w-7xl flex-grow">
			<div class="md:w-2/6 p-4 text-left"></div>
			<div class="md:w-4/6 p-4 text-center flex-grow">
			</div>
		  </div>
	<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-CVVH6DSYJ0"></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-CVVH6DSYJ0');
		</script>
	</body>
</html>
